<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.parse.ppt.poi.dao.persistence.PoiPptDao">
    <resultMap id="BaseResultMap" type="com.parse.ppt.poi.entity.PoiPPT">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="description" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="img_url" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="download_page_url" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="download_url" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="ppt_file_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>


    <insert id="addPoiPPT" parameterType="com.parse.ppt.poi.entity.PoiPPT">
        INSERT INTO poi_ppt (description, img_address, download_url)
        VALUES (#{pptDescription,jdbcType=VARCHAR},
                #{pptImgAddress,jdbcType=VARCHAR},
                #{pptDownloadUrl,jdbcType=VARCHAR})
    </insert>

    <update id="updatePoiPptFileName">
        update poi_ppt
        <set>
            <if test="poiPptFileName != null">
                ppt_file_name = #{poiPptFileName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{poiPptId,jdbcType=INTEGER}
    </update>

</mapper>