<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 属性配置 xml对应dao层 java类的全限定名-->
<mapper namespace="com.parse.ppt.poi.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.parse.ppt.poi.entity.User">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="email" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="phone_num" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>

    <sql id="Base_Column_List">
        id, username, email, password, phone_num
    </sql>

    <select id="getUserByEmail" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where email = #{email,jdbcType=VARCHAR}
    </select>

    <select id="getUserByPhoneNum" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where phone_num = #{phoneNum,jdbcType=VARCHAR}
    </select>

    <insert id="addUser" parameterType="com.parse.ppt.poi.entity.User">
        INSERT INTO user (username, email, password, phone_num)
        VALUES (#{username,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
                #{password,jdbcType=VARCHAR}, #{phoneNum,jdbcType=VARCHAR})
    </insert>

    <update id="updateUser" parameterType="com.parse.ppt.poi.entity.User">
        update user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="phoneNum != null">
                phone_num = #{phoneNum,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>