<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.parse.ppt.poi.dao.persistence.No1PptDao">
    <resultMap id="BaseResultMap" type="com.parse.ppt.poi.entity.No1PPT">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="description" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="img_url" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="download_page_url" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="download_url" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="ppt_file_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>


    <insert id="addNo1PPT" parameterType="com.parse.ppt.poi.entity.No1PPT">
        INSERT INTO no_1_ppt (description, img_url, download_page_url, download_url)
        VALUES (#{srcDescription,jdbcType=VARCHAR},
                #{srcImgUrl,jdbcType=VARCHAR},
                #{downloadPageUrl,jdbcType=VARCHAR},
                #{downloadUrl,jdbcType=VARCHAR})
    </insert>

    <update id="updateNo1PPTFileName">
        update no_1_ppt
        <set>
            <if test="no1pptIdFileName != null">
                ppt_file_name = #{no1pptIdFileName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{no1pptId,jdbcType=INTEGER}
    </update>

</mapper>